*.[oa]
TAGS
*.vtk
*.h5m
*.g
*.xmf
*.aux
*.dvi
*.log
*.out
sandbox
*~
bompi*
bmpich*
data
CMake
docs/html
docs/latex
.metadata
*.kdev4
.cproject
.project
nbproject
eclipse-style
.settings
CMakeLists.txt.user
